.single-cart-container {
   border: 1px solid rgb(223, 209, 209);
   margin-bottom: 10px;
   border-radius: 5px;
   height: 110px;
   width: 600px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   padding: 5px;  
}

.cartProductDetails{
   display: flex;
   align-items: center;  
}

.cartProductDetails img{
   width: 110px;
   height: 110px;
   border-radius: 5px;
}

.cart-product-titles{
   margin-left: 20px;
}

span{
   color: rgb(236, 165, 79);
}

.delete-icon{
  color: rgb(218, 43, 43);
  font-size: larger;
  margin-right: 20px;
  border: 0px;
  height: 50px;
  width: 50px;
  background-color: rgb(237, 126, 126);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.delete-icon :hover{
  color: red;
}

